:root {
  font-size: 62.5%;

  --color-primary: #1f2241;
  --color-secondary: hsl(350, 70%, 69%);
  --color-font: hsla(0, 0%, 100%, 0.902);

  --color-shadow: hsl(235, 36%, 35%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: fantasy;
}
